<a href="https://colab.research.google.com/github/Javi-GH2005/trading-algoritmico-a-z-con-python/blob/main/ES_TA_Cap%C3%ADtulo_03_Pre_Procesado_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px">
<img alt="Colaboratory logo" height="45px" src="https://static-881c.kxcdn.com/wp-content/uploads/2016/03/frogamesLogoFull4.png" align="left" hspace="10px" vspace="0px"></p>

# Preprocesado de Datos


<br>


üí∞ √önete a la comunidad de [Discord](https://discord.gg/z3dx5XpkX4)

üìö Puedes leer nuestro libro en [Amazon](https://www.amazon.es/Python-para-finanzas-trading-algor%C3%ADtmico-ebook/dp/B0BT4ZS9Q3/)

üñ•Ô∏è El canal de [YouTube de Quantreo's](https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw) (en ingl√©s) y el de [Frogames](https://www.youtube.com/channel/UCMUxXNYrVCv6-bQakhomvBg) en espa√±ol

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.12/dist-packages (0.2.66)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.0.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.12/dist-packages (from yfinance) (3.18.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.13.5)
Requirement already satisfied: curl_cffi>=0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (5.29.5)
Requirement already satisfied: websockets>=13.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: cffi>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from curl_cffi>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /usr/local/lib/python3.12/dist-packages (from curl_cffi>=0.7->yfinance) (2025.10.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (2.5.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.23)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)

In [4]:
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

# Manejar datos que proceden de MT5 (manualmente)

In [ ]:
# Importar los datos en bruto
df = pd.read_csv("/content/EURUSD_D1.csv")
df

     <DATE>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0     2011.01.03\t1.33443\t1.33945\t1.32501\t1.33499...
1     2011.01.04\t1.33507\t1.34330\t1.32919\t1.33104...
2     2011.01.05\t1.33099\t1.33247\t1.31255\t1.31485...
3     2011.01.06\t1.31495\t1.31699\t1.29834\t1.30022...
4     2011.01.07\t1.30018\t1.30206\t1.29044\t1.29055...
...                                                 ...
2861  2022.01.10\t1.13550\t1.13599\t1.12853\t1.13252...
2862  2022.01.11\t1.13230\t1.13753\t1.13131\t1.13666...
2863  2022.01.12\t1.13655\t1.14528\t1.13545\t1.14411...
2864  2022.01.13\t1.14402\t1.14817\t1.14357\t1.14539...
2865  2022.01.14\t1.14531\t1.14829\t1.13987\t1.14151...

[2866 rows x 1 columns]

In [ ]:
# A√±adir delimitador
df = pd.read_csv("/content/EURUSD_D1.csv", delimiter="\t")
df

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2011.01.03,1.33443,1.33945,1.32501,1.33499,63214,0,9
1,2011.01.04,1.33507,1.34330,1.32919,1.33104,80673,0,8
2,2011.01.05,1.33099,1.33247,1.31255,1.31485,83725,0,8
3,2011.01.06,1.31495,1.31699,1.29834,1.30022,73723,0,8
4,2011.01.07,1.30018,1.30206,1.29044,1.29055,82379,0,8
...,...,...,...,...,...,...,...,...
2861,2022.01.10,1.13550,1.13599,1.12853,1.13252,53457,0,0
2862,2022.01.11,1.13230,1.13753,1.13131,1.13666,49386,0,0
2863,2022.01.12,1.13655,1.14528,1.13545,1.14411,51872,0,0
2864,2022.01.13,1.14402,1.14817,1.14357,1.14539,53078,0,0
2865,2022.01.14,1.14531,1.14829,1.13987,1.14151,59882,0,0

In [ ]:
# Funci√≥n de preprocesado

def preprocessing(name):

  # Importar los datos
  df = pd.read_csv(name, delimiter="\t", index_col="<DATE>", parse_dates=True).dropna()

  # Eliminar las √∫ltimas dos columnas
  df = df.iloc[:,:-2]

  # Renombrar
  df.columns = ["open", "high", "low", "close", "volume"]
  df.index.name = "time"

  return df

In [ ]:
df = preprocessing("/content/EURUSD_D1.csv")
df

               open     high      low    close  volume
time
2011-01-03  1.33443  1.33945  1.32501  1.33499   63214
2011-01-04  1.33507  1.34330  1.32919  1.33104   80673
2011-01-05  1.33099  1.33247  1.31255  1.31485   83725
2011-01-06  1.31495  1.31699  1.29834  1.30022   73723
2011-01-07  1.30018  1.30206  1.29044  1.29055   82379
...             ...      ...      ...      ...     ...
2022-01-10  1.13550  1.13599  1.12853  1.13252   53457
2022-01-11  1.13230  1.13753  1.13131  1.13666   49386
2022-01-12  1.13655  1.14528  1.13545  1.14411   51872
2022-01-13  1.14402  1.14817  1.14357  1.14539   53078
2022-01-14  1.14531  1.14829  1.13987  1.14151   59882

[2866 rows x 5 columns]

# Manejar los datos que proceden de Yfinance

In [5]:
yf.download("EURUSD=X")

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open   Volume
Ticker      EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Date
2025-10-15  1.160227  1.164822  1.160254  1.160227        0
2025-10-16  1.164632  1.167829  1.164334  1.164632        0
2025-10-17  1.169960  1.172842  1.165814  1.169960        0
2025-10-20  1.165746  1.167679  1.164538  1.165746        0
2025-10-21  1.164443  1.165637  1.159851  1.164443        0
2025-10-22  1.160039  1.161656  1.157769  1.160039        0
2025-10-23  1.160847  1.162115  1.158641  1.160847        0
2025-10-24  1.161805  1.164768  1.160174  1.161805        0
2025-10-27  1.163169  1.164958  1.161872  1.163169        0
2025-10-28  1.165175  1.166861  1.162791  1.165175        0
2025-10-29  1.165787  1.166589  1.161980  1.165787        0
2025-10-30  1.160335  1.163467  1.154761  1.160335        0
2025-10-31  1.157247  1.157783  1.152379  1.157247        0
2025-11-03  1.152804  1.154201  1.150616  1.152804        0
2025-11-04  1.151914  1.153296  1.147355  1.151914        0
2025-11-05  1.148554  1.149795  1.147013  1.148554        0
2025-11-06  1.149676  1.154294  1.149386  1.149676        0
2025-11-07  1.154921  1.158990  1.153044  1.154921        0
2025-11-10  1.154388  1.158225  1.154374  1.155455        0
2025-11-11  1.155722  1.160631  1.154814  1.155735        0
2025-11-12  1.158749  1.159797  1.156323  1.158883        0
2025-11-13  1.159219  1.164931  1.157984  1.159245        0
2025-11-14  1.163196  1.165365  1.160807  1.163075        0

In [9]:
def preprocessing_yf(symbol):

  #Importar los datos
  df = yf.download(symbol).dropna()

  #Renombrar
  df.columns = ["open", "high", "low", "close", "volume"]
  df.index.name = "time"



  return df

In [10]:
df = preprocessing_yf("EURUSD=X")
df

[*********************100%***********************]  1 of 1 completed

                open      high       low     close  volume
time
2025-10-15  1.160227  1.164822  1.160254  1.160227       0
2025-10-16  1.164632  1.167829  1.164334  1.164632       0
2025-10-17  1.169960  1.172842  1.165814  1.169960       0
2025-10-20  1.165746  1.167679  1.164538  1.165746       0
2025-10-21  1.164443  1.165637  1.159851  1.164443       0
2025-10-22  1.160039  1.161656  1.157769  1.160039       0
2025-10-23  1.160847  1.162115  1.158641  1.160847       0
2025-10-24  1.161805  1.164768  1.160174  1.161805       0
2025-10-27  1.163169  1.164958  1.161872  1.163169       0
2025-10-28  1.165175  1.166861  1.162791  1.165175       0
2025-10-29  1.165787  1.166589  1.161980  1.165787       0
2025-10-30  1.160335  1.163467  1.154761  1.160335       0
2025-10-31  1.157247  1.157783  1.152379  1.157247       0
2025-11-03  1.152804  1.154201  1.150616  1.152804       0
2025-11-04  1.151914  1.153296  1.147355  1.151914       0
2025-11-05  1.148554  1.149795  1.147013  1.148554       0
2025-11-06  1.149676  1.154294  1.149386  1.149676       0
2025-11-07  1.154921  1.158990  1.153044  1.154921       0
2025-11-10  1.154388  1.158225  1.154374  1.155455       0
2025-11-11  1.155722  1.160631  1.154814  1.155735       0
2025-11-12  1.158749  1.159797  1.156323  1.158883       0
2025-11-13  1.159219  1.164931  1.157984  1.159245       0
2025-11-14  1.163196  1.165365  1.160807  1.163075       0